#document td,
#document th {
  font-size: 11px;
  padding: 4px 8px !important;
}

#document td:not(:first-child),
#document th:not(:first-child) {
  text-align: center;
}

@media print {
  .no-printme {
    display: none !important;
  }
}
